{% extends "base.html" %}
{% block content %}
    <h1 class="display-1 text-center" style="font-weight: 600">Paper Trail</h1>
    <form method="post">
        {{ form.csrf_token() }}
        <div class="mb-3">
        <label for="usernames" class="form-label">Username(s):</label>
        {{ form.usernames(type="text", class="form-control", id="usernames") }}
        </div>
        <div class="mb-3">
        <label for="name" class="form-label">Full Name:</label>
        {{ form.name(type="text", class="form-control", id="name") }}
        </div>
        <div class="mb-3">
        <label for="organisations" class="form-label">Organisation(s):</label>
        {{ form.organisations(type="text", class="form-control", id="organisations") }}
        </div>
        <div class="mb-3">
        <label for="domains" class="form-label">Domains You Own:</label>
        {{ form.domains(type="text", class="form-control", id="domains") }}
        </div>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </form>
{% endblock %}